<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
<meta name="description" content="">
<meta name="Lena Kopp" content="">
<link rel="icon" href="../../favicon.ico">
    
<title><%= title %> - Zeitschaltuhr</title>

 <!-- Bootstrap-CSS -->
<link href="../../dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../dist/css/bootstrap-timepicker.min.css">
    
    
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script type="text/javascript" src="../../dist/js/bootstrap-timepicker.min.js"></script>
<link href="../../dist/js/bootstrap.min.js" type="text/javascript">
<link href="../../dist/js/jquery.min.js" type="text/javascript">

<!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
   
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   
<script src="/socket.io/socket.io.js"></script> 




