<!DOCTYPE html>
<html lang="de">
   <head>
      <%include ../views/partials/head %>
   </head>
   <body>
      <div class="container">
         <div class="header clearfix">
            <nav>
               <ul class="nav nav-pills pull-right" role="tablist">
                  <li role="presentation"><a href="index">Startseite</a></li>
                  <li role="presentation"><a href="zeitplan">Zeitplan</a></li>
                  <li role="presentation"><a href="tastermodus">Tastermodus</a></li>
                  <li role="presentation"><a href="schalthistorie">Schalthistorie</a></li>
                  <li role="presentation" class="active"><a href="impressum">Impressum</a></li>
               </ul>
            </nav>
            <h3 class="text-muted">iSystem Zeitschaltuhr</h3>
         </div>
         <div class="starter-template">
            <center>
               <h1>Impressum</h1>
               <p class="lead">
                  TimeCode22 GmbH<br>
                  Lorthalweg 10<br>
                  74821 Mosbach
               </p>
               <h1>Ansprechpartner</h1>
               <p class="lead">
                  Anja Wenk<br>
                  <a href='mailto:anj.wenk.14@lehre.mosbach.dhbw.de'>
                  anj.wenk.14@lehre.mosbach.dhbw.de
                  </a><br>
                  Raphael Kuttruf
                  <br>
                  <a href='mailto:rap.kuttruf.14@lehre.mosbach.dhbw.de'>
                  rap.kuttruf.14@lehre.mosbach.dhbw.de
                  </a><br>
                  Lena Kopp
                  <br>
                  <a href='mailto:len.kopp.14@lehre.mosbach.dhbw.de'>
                  len.kopp.14@lehre.mosbach.dhbw.de
                  </a>
               </p>
            </center>
         </div>
         <footer class="footer">
            <% include ../views/partials/footer %>
         </footer>
      </div>
      <!-- /container -->
      <!-- IE10-Anzeigefenster-Hack für Fehler auf Surface und Desktop-Windows-8 -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>
