<!DOCTYPE html>
<html lang="de">
   <head>
      <%include ../views/partials/head %>
      <script src="/js/zeit.js"></script>
      <script src="/js/aktuell.js"></script>
   </head>
   <body>
      <div class="container">
         <div class="header clearfix">
            <nav>
               <ul class="nav nav-pills pull-right" role="tablist">
                  <li role="presentation" class="active"><a href="index">Startseite</a></li>
                  <li role="presentation"><a href="zeitplan">Zeitplan</a></li>
                  <li role="presentation"><a href="tastermodus">Tastermodus</a></li>
                  <li role="presentation"><a href="schalthistorie">Schalthistorie</a></li>
                  <li role="presentation"><a href="impressum">Impressum</a></li>
               </ul>
            </nav>
            <h3 class="text-muted">iSystem Zeitschaltuhr</h3>
         </div>
         <%include ../views/partials/datumZeit %>
         <div class="table-responsive">
            <table class="table">
               <tbody>
                  <tr>
                     <td>
                        <center>
                           <h1>
                              <span class="label label-success" id="zustand1">Verbraucher 1</span>
                           </h1>
                        </center>
                     </td>
                     <td>
                        <center>
                           <h1>
                              <span class="label label-success" id="zustand2">Verbraucher 2</span>
                           </h1>
                        </center>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <center>
                           <h5>nächste Schaltzeit des Tages:
                           </h5>
                        </center>
                     </td>
                     <td>
                        <center>
                           <h5>nächste Schaltzeit des Tages:</h5>
                        </center>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <center>
                           <div id="naechst1"></div>
                        </center>
                     </td>
                     <td>
                        <center>
                           <div id="naechst2">	</div>
                        </center>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <footer class="footer">
            <% include ../views/partials/footer %>
         </footer>
      </div>
      <!-- /container -->
      <!-- IE10-Anzeigefenster-Hack für Fehler auf Surface und Desktop-Windows-8 -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>

