<!DOCTYPE html>
<html lang="de">
   <head>
      <%include ../views/partials/head %>
      <script src="/js/zeit.js"></script>
      <script src="/js/schalthistorie.js"></script>
   </head>
   <body>
      <div class="container">
         <div class="header clearfix">
            <nav>
               <ul class="nav nav-pills pull-right" role="tablist">
                  <li role="presentation"><a href="index">Startseite</a></li>
                  <li role="presentation"><a href="zeitplan">Zeitplan</a></li>
                  <li role="presentation"><a href="tastermodus">Tastermodus</a></li>
                  <li role="presentation" class="active"><a href="schalthistorie">Schalthistorie</a></li>
                  <li role="presentation"><a href="impressum">Impressum</a></li>
               </ul>
            </nav>
            <h3 class="text-muted">iSystem Zeitschaltuhr</h3>
         </div>
         <%include ../views/partials/datumZeit %>
         <div class="table-responsive">
            <table class="table" >
               <thead>
                  <th>Bezeichnung</th>
                  <th>Schaltereignis</th>
                  <th>Zeitpunkt</th>
               </thead>
               <tbody id="historie">
               </tbody>
            </table>
         </div>
         <footer class="footer">
            <% include ../views/partials/footer %>
         </footer>
      </div>
      <!-- /container -->
      </div>
      <!-- IE10-Anzeigefenster-Hack für Fehler auf Surface und Desktop-Windows-8 -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>

