<!DOCTYPE html>
<html lang="de">
   <head>
      <%include ../views/partials/head %>
      <script src="/js/zeit.js"></script>
      <script src="/js/tastermodus.js"></script>
   </head>
   <body>
      <div class="container">
         <div class="header clearfix">
            <nav>
               <ul class="nav nav-pills pull-right" role="tablist">
                  <li role="presentation"><a href="index">Startseite</a></li>
                  <li role="presentation"><a href="zeitplan">Zeitplan</a></li>
                  <li role="presentation" class="active"><a href="tastermodus">Tastermodus</a></li>
                  <li role="presentation"><a href="schalthistorie">Schalthistorie</a></li>
                  <li role="presentation"><a href="impressum">Impressum</a></li>
               </ul>
            </nav>
            <h3 class="text-muted">iSystem Zeitschaltuhr</h3>
         </div>
         <%include ../views/partials/datumZeit %>
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <th>Bezeichnung</th>
                  <th>Deaktiviert</th>
                  <th>Taster</th>
                  <th>Schalter</th>
                  <th>Timer</th>
               </thead>
               <tbody>
                  <tr>
                     <td>Verbraucher 1</td>
                     <td> 
                        <input type="radio" name="Verb1" id="deakt1" value="1"> 								
                     </td>
                     <td>
                        <input type="radio" name="Verb1" id="tast1" value="2">
                     </td>
                     <td>
                        <input type="radio" name="Verb1" id="schalt1" value="3">
                     </td>
                     <td>
                        <input type="radio" name="Verb1" id="time1" value="4"> 
                     </td>
                  </tr>
                  <tr>
                     <td>Verbraucher 2</td>
                     <td> 
                        <input type="radio" name="Verb2" id="deakt2" value="1"> 								
                     </td>
                     <td>
                        <input type="radio" name="Verb2" id="tast2" value="2">
                     </td>
                     <td>
                        <input type="radio" name="Verb2" id="schalt2" value="3"> 
                     </td>
                     <td>
                        <input type="radio" name="Verb2" id="time2" value="4"> 
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="pull-right">
            <input type="button" id="leseTaster" value="Änderungen speichern">
         </div>
      </div>
      </div> 
      <footer class="footer">
         <% include ../views/partials/footer %>
      </footer>
      </div> <!-- /container -->
      <!-- IE10-Anzeigefenster-Hack für Fehler auf Surface und Desktop-Windows-8 -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>

