<!DOCTYPE html>
<html lang="de">
   <head>
      <%include ../views/partials/head %>  
      <script src="/js/zeit.js"></script>
      <script src="/js/zeitplan.js"></script>
   </head>
   <body>
      <div class="container">
         <div class="header clearfix">
            <nav>
               <ul class="nav nav-pills pull-right" role="tablist">
                  <li role="presentation"><a href="index">Startseite</a></li>
                  <li role="presentation" class="active"><a href="zeitplan">Zeitplan</a></li>
                  <li role="presentation"><a href="tastermodus">Tastermodus</a></li>
                  <li role="presentation"><a href="schalthistorie">Schalthistorie</a></li>
                  <li role="presentation"><a href="impressum">Impressum</a></li>
               </ul>
            </nav>
            <h3 class="text-muted">iSystem Zeitschaltuhr</h3>
         </div>
         <%include ../views/partials/datumZeit %>
         <div>
            <form action=""> 
               <input type="checkbox" id="Urlaubsmodus" value="Urlaub"> Urlaubsmodus 
            </form>
         </div>
         <div class="table-responsive">
            <table class="table" id="zeit-eingabe" action="">
               <thead>
                  <th>Bezeichnung</th>
                  <th>Einschaltzeit</th>
                  <th>Ausschaltzeit</th>
                  <th>Mo</th>
                  <th>Di</th>
                  <th>Mi</th>
                  <th>Do</th>
                  <th>Fr</th>
                  <th>Sa</th>
                  <th>So</th>
               </thead>
               <tbody>
                  <tr>
                     <td>Verbraucher 1</td>
                     <td>
                        <div class="input-group bootstrap-timepicker timepicker">
                           <input id="timepicker1" type="text" class="form-control input-small">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                     </td>
                     <td>
                        <div class="input-group bootstrap-timepicker timepicker">
                           <input id="timepicker2" type="text" class="form-control input-small">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                     </td>
                     <td>
                        <input type="checkbox" id="Mo1" value="Mo" > 
                     </td>
                     <td>
                        <input type="checkbox" id="Di1" value="Di" > 
                     </td>
                     <td>
                        <input type="checkbox" id="Mi1" value="Mi" > 
                     </td>
                     <td>
                        <input type="checkbox" id="Do1" value="Do" > 
                     </td>
                     <td>
                        <input type="checkbox" id="Fr1" value="Fr" > 
                     </td>
                     <td>
                        <input type="checkbox" id="Sa1" value="Sa" > 
                     </td>
                     <td>
                        <input type="checkbox" id="So1" value="So" > 
                     </td>
                  </tr>
                  <tr>
                     <td></td>
                     <td>
                        <div class="input-group bootstrap-timepicker timepicker">
                           <input id="timepicker3" type="text" class="form-control input-small">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                     </td>
                     <td>
                        <div class="input-group bootstrap-timepicker timepicker">
                           <input id="timepicker4" type="text" class="form-control input-small">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
         </div>
         </td>
         <td>
         <input type="checkbox" id="Mo2" value="Mo" > 
         </td>
         <td>
         <input type="checkbox" id="Di2" value="Di" > 
         </td>
         <td>
         <input type="checkbox" id="Mi2" value="Mi" > 
         </td>
         <td>
         <input type="checkbox" id="Do2" value="Do" > 
         </td>
         <td>
         <input type="checkbox" id="Fr2" value="Fr" > 
         </td>
         <td>
         <input type="checkbox" id="Sa2" value="Sa" > 
         </td>
         <td>
         <input type="checkbox" id="So2" value="So" > 
         </td>
         </tr>
         <tr>
         <td>Verbraucher 2</td>
         <td>
         <div class="input-group bootstrap-timepicker timepicker">
         <input id="timepicker5" type="text" class="form-control input-small">
         <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
         </div>
         </td>
         <td>
         <div class="input-group bootstrap-timepicker timepicker">
         <input id="timepicker6" type="text" class="form-control input-small">
         <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
         </div>
         </td>
         <td>
         <input type="checkbox" id="Mo3" value="Mo" > 
         </td>
         <td>
         <input type="checkbox" id="Di3" value="Di" > 
         </td>
         <td>
         <input type="checkbox" id="Mi3" value="Mi" > 
         </td>
         <td>
         <input type="checkbox" id="Do3" value="Do" > 
         </td>
         <td>
         <input type="checkbox" id="Fr3" value="Fr" > 
         </td>
         <td>
         <input type="checkbox" id="Sa3" value="Sa" > 
         </td>
         <td>
         <input type="checkbox" id="So3" value="So" > 
         </td>
         </tr>
         <tr>
         <td></td>
         <td>
         <div class="input-group bootstrap-timepicker timepicker">
         <input id="timepicker7" type="text" class="form-control input-small">
         <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
         </div>
         </td>
         <td>
         <div class="input-group bootstrap-timepicker timepicker">
         <input id="timepicker8" type="text" class="form-control input-small">
         <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
         </div>
      </div>
      <td>
      <input type="checkbox" id="Mo4" value="Mo" > 
      </td>
      <td>
      <input type="checkbox" id="Di4" value="Di" > 
      </td>
      <td>
      <input type="checkbox" id="Mi4" value="Mi" > 
      </td>
      <td>
      <input type="checkbox" id="Do4" value="Do" > 
      </td>
      <td>
      <input type="checkbox" id="Fr4" value="Fr" > 
      </td>
      <td>
      <input type="checkbox" id="Sa4" value="Sa" > 
      </td>
      <td>
      <input type="checkbox" id="So4" value="So" > 
      </td>
      </tr>
      </form>
      </tbody>
      </table>
      </div>
      <div class="pull-right">
         <input type="button" id="sendeZeit" value="Änderungen speichern">
      </div>
      <footer class="footer">
         <% include ../views/partials/footer %>
      </footer>
      </div> <!-- /container -->
      <!-- IE10-Anzeigefenster-Hack für Fehler auf Surface und Desktop-Windows-8 -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>

